{% include "globals/default_header.html" %}

<div class="menu">
    {% include "wallet/menu.html" %}
</div>

    <form>
        <label for="card_name">Nom du titulaire de la carte :</label>
        <input id="card_name" type="text" name="card_name" value="">

        <label for="card_number">Numéro de carte :</label>
        <input id="card_number" type="text" name="card_number" value="">

        <label for="card_date">Date d'expiration :</label>
        <input id="card_date" type="text" name="card_date" placeholder="MM/YYYY">

        <label for="card_cvv">CVV :</label>
        <input id="card_cvv" type="text" name="card_cvv" value="">

        <input type="submit" value="OK">
    </form>

{% include "globals/default_footer.html" %}