{% include "globals/default_header.html" %}

{% include "globals/default_nav.html" %}

    <h1>Gestion du compte</h1>
    <hr>
    <p>Les comptes ici :</p>

    <table>
        <thead>
            <tr>
                <td>Account id</td>
                <td>Balance</td>
            </tr>
        </thead>
        
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% include "globals/default_footer.html" %}